		#right-navbar{
			list-style: none;
			margin-bottom: 0;
		}
		#right-navbar a {
			padding:8px;
			color:white;
		}

 		.bg-dark {
    		background-color: rgb(43,43,43) !important;
    		font-family: Open Sans Condensed;
    		font-size: 18px;
    		text-transform:uppercase;
		}
 		.navbar-expand-md 
 		.navbar-collapse{
 			text-transform: uppercase;
 			top:0;
 			margin:0 10px;
 			color:white;
 			position:fixed;
 		}
 		.navbar {
 			padding: 10px;
 			padding-left:8%;
 		}
 
		.navbar-dark .navbar-nav .nav-link {
			padding-right: 20px;
			padding-left: 20px;
			color: rgba(255,255,255,1);

		}
		#right-navbar a:focus,
		#right-navbar a:hover,
		.navbar-dark .navbar-nav .nav-link:focus,
		.navbar-dark .navbar-nav .nav-link:hover {
			color: #A6A6A6;
		}
		.nav-link {
    		padding: .5rem 1rem;
    		display:unset;
 		}
    	.header {
			background-image: url(image/fond9.png);
			background-size: cover;
			background-attachment: fixed;
			padding:150px;
			padding-bottom:200px;
		}
		#camilledupont {
			text-transform: uppercase;
			text-align: center;
			font-family: Julius Sans One;
			color:white;
			font-size: 70px;
			padding-top:50px;
		}
		#marketingdigital {
			text-transform: uppercase;
			font-size: 25px;
			text-align: center;
			font-family: Open Sans Condensed;
			color:white;
			border:8px double white;
			margin:auto;
			width:22%;
		}
		#linkedinhead {
			text-align: center;
			vertical-align: center;
			margin:auto;
		}
		#cv {
			font-family: Open Sans Condensed;
			color:white;
			font-size: 28px;
			text-decoration: underline;
		}
		#rowtop {
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    margin-right: 10px;
		    margin-left: -9%;
		    padding-top: 50px;
		}
		#a-propos {
			text-transform: uppercase;
			text-align: center;
			font-size: 40px;
			padding-top:60px;
			padding-bottom:40px;
		}
		#camilledp {
    		overflow:hidden;
    		border-radius:50%;
    		width:150px;
    		margin-left:80px;
    		text-align: center;
    		z-index: 9;
    	}
    	.apropos {
    		margin-left:190px;
    		padding-bottom: 20px;
    	}
    	.apropostop {
    		background-color: rgb(43, 43, 43);
    		color: white;
    		padding-bottom: 40px;
    	}
    	#logoapropos {
    		font-size: 30px;
    		margin-right: 10px;
    	}
    	#specialisationmd {
    		margin-left: 52px;
    	}
    	#experiences {
    		text-transform: uppercase;
    		text-align: center;
    		font-size: 40px;
    		padding-top:60px;
    		padding-bottom:40px;
    	}
    	#formations {
    		text-transform: uppercase;
    		text-align: center;
    		font-size: 40px;
    		padding-bottom: 40px;
    		padding-top: 60px;
    	}
    	#sectionformations {
    		color:white;
    		background-color: rgb(43,43,43)
    	}
    	#languesetcompetences {
    		text-transform: uppercase;
    		text-align: center;
    		font-size: 40px;
    		padding-top: 60px;
    		padding-bottom: 40px;
    	}
    	#listelangues {
    		list-style: none;
    	}
    	#langues {
    		padding-top: 50px;
    		margin-left:0px;
    		margin-right: 20px;
    	}
    	.pointsespagnol{
    		padding-left:0px;
    		padding-right:15px;
    	}
    	#pointslangues {
    		padding-top: 50px;

    	}
    	.informatique {
    		margin-bottom:80px;
    		padding-top:15px;
    	}
    	.langues {
    		padding-bottom: 40px;
    		margin-right: 20px;
    	}
    	#centresdinterets {
    		text-transform: uppercase;
    		text-align: center;
    		font-size: 40px;
    	}
    	#mecontacter {
    		text-transform: uppercase;
    		text-align: center;
    		font-size: 40px;
    		padding-bottom:40px;
    	}
    	.section {
    		font-family: Open Sans Condensed;
    		font-size: 20px;
		}
		.footer {
			font-family: Open Sans Condensed;
			background-color: rgb(43, 43, 43);
			color: white;
		}
		.footer a{
			color:white;
			text-decoration: none;
			font-size: 20px;
		}
		body {
			margin:0;
			padding:0;
			scroll-behavior: smooth;
		}
		#lienlinkedintop {
			margin-top: 50px;
			font-size:50px;
			color: white;
			text-align:center;
		}
		#souligne {
			text-decoration: underline;
		}

		a:hover {
			color:#A6A6A6;

		}
		#menu a:hover {
			color:#A6A6A6;
		}
		#arrow {
			margin:auto;
			font-size:60px;
			color: white;
			text-align:center;
			margin-top: 95px;
			margin-left:600px;
			display:inline-table;
			margin-top:150px;
		}
		#lienhead a:hover {
			color:#A6A6A6;
		}
		#logolinkedin {
			margin-left: 500px;
			padding-top:400px;
		}
		#boutoncv {
			margin-right: 100px;
			display: inline-block;
			padding-top:20px;
		}
		#flecheverticale {
    	border-left: 1px solid rgb(43,43,43);
    	padding-left: 5px;
    	margin-left: 150px;
    	padding-top: 150px;
    	padding-bottom: 80px;
    	}
    	.formationstexte {
    		margin-left: 250px;
    		padding-bottom: 40px;
    	}
    	.experiencestexte {
    		margin-left:250px;
    	}
    	#english {
    		float:right;
    		}
    	#english i{
    		color:white;
    	}
    	#contact {
    		margin-left:350px;
    	}
    	#contact i{
    		font-size:40px;
    	}
    	#contact a{
    		padding:20px;
    	}
    	.points i{
    		font-size:25px;
    		padding:10px;
    		text-align: center; 
    		padding-top:25px;
    	}
    	#anglais {
    		margin-left:12px;
    	}
    	#anglaisdots {
    		margin-right:0px;
    	}


		.navbar-nav {
		    float:none;
		    margin:0 auto;
		    display: block;
		    text-align: center;
		}

		.navbar-nav > li {
		    display: inline-block;
		    float:none;
		}
		#copyright {
			padding-top: 50px;
			bottom:0px;
			text-align: center;
		}

@media screen {
  h1 {
    font-size: 5px;  /*when displayed in a device*/
  }
}
@media (max-width: 575px) { 
	.header {
			background-image: url(image/fond11.png);
			background-size: cover;
			background-attachment: fixed;
			padding:100px 0;
		}
	#camilledupont {
			text-transform: uppercase;
			text-align: center;
			font-family: Julius Sans One;
			color:white;
			font-size: 40px;
			padding-top:30px;
		}
	#marketingdigital {
		font-size:15px;
	}
	.navbar-nav > li {
		    display: flex;
		    float:none;
		}

	#marketingdigital {
			text-transform: uppercase;
			font-size: 15px;
			text-align: center;
			font-family: Open Sans Condensed;
			color:white;
			border:8px double white;
			margin:auto;
			width:40%;
		}
	#logolinkedin {
			margin-left: 50px;
			padding-top:400px;
		}
	#lienlinkedintop {
			margin-top: 50px;
			font-size:40px;
			color: white;
			text-align:center;
		}
	#cv {
			font-family: Open Sans Condensed;
			color:white;
			font-size: 20px;
			text-decoration: underline;
		}
	#boutoncv {
			margin-right: 100px;
			display: inline-block;
			padding-top:0px;
		}
	#camilledp {
    		overflow:hidden;
    		border-radius:50%;
    		width:150px;
    	}
    .apropos {
    		margin-left:0px;
    		padding-bottom: 20px;
    	}
    .experiencestexte {
    		margin-left:0px;
    	}
    .formationstexte {
    		margin-left:0px;
    		padding-bottom: 40px;
    	}
    #contact {
    		margin-left:10px;
    	}
    .informatique {
    		margin-bottom:0px;
    		padding-top:0px;
    	}
    	.langues {
    		padding-bottom: 0px;
    		margin-right:0px;
    	}
    #flecheverticale {
    	border-left: 1px solid rgb(43,43,43);
    	padding-left: 0px;
    	margin-left: 0px;
    	padding-top: 150px;
    	padding-bottom: 80px;
    	}
	}

